body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  scroll-behavior:smooth;
}
nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    background-image: url(imageport2/sp.jpg);
    background-position: center;
    background-size: cover;
    position: fixed;
    z-index: 1000;
}
.imagelogo{
    font-size: 25px;
    font-weight: 700;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.ho{
    border: 1px solid rgb(0, 255, 94);
    background:linear-gradient(45deg,#00ff4c,rgb(18, 186, 205));
    border-radius: 10px;
    box-shadow: 3px 3px  5px rgb(0, 0, 0);
}
nav ul li{
    display: inline-block;
    padding: 8px 18px;
    font-size: 25px;
    border-radius: 10px;
}
nav ul li:hover{
    border: 1px solid rgb(0, 255, 94);
    background:linear-gradient(45deg,#00ff4c,rgb(18, 186, 205));
    border-radius: 10px;
    box-shadow: 3px 3px  5px rgb(0, 0, 0);
}

.navbutton{
    border: 1px solid rgb(0, 255, 94);
    background:linear-gradient(45deg,#00ff4c,rgb(18, 186, 205));
    border-radius: 10px;
    box-shadow: 3px 3px  5px rgb(0, 0, 0);
    padding: 8px 20px;
    font-size: 22px;
    border-radius: 10px;
}
.earth img{
  position: absolute;
  width: 700px;
  height: 700px;
  left:-200px; 
  border-radius: 50%;
  top: -150px;
  filter: brightness(70%);
  transform: rotate(45deg);
  animation: role 50s linear infinite;
}
@keyframes role {
 0%{transform: rotate(0deg);}
100%{transform: rotate(360deg);}
}
.hn1{
    width: 700px;
    height: 400px;
    z-index: 1;
}
.hn2{
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    padding-left: 80px;
    padding-top: -20px;   
}
.isomatric{
  position: absolute;
  top: 600px;
  left: 100px;
  margin: 0;
  padding: 0;
  display: flex;
  
}
.isomatric .fontaw{
  list-style: none;
  margin: 0 40px;
}
.isomatric .fontaw a .fa{
  font-size: 20px;
  color: black;
  line-height: 40px;
  transition: .5s;

}
.isomatric .fontaw a{
  position:relative;
  display: block;
  width: 45px;
  height: 45px;
  background-color: aliceblue;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
  transition: .5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, .5);
}
.isomatric .fontaw a::before{
  content: '';
  position: absolute;
  top:5px;
  left: -10px;
  height: 100%;
  width: 10px;
  background: #b1b1b1;
  transition: .5s;
  transform: rotate(0deg) skewy(-45deg);
}
.isomatric .fontaw a:after{
  content: '';
  position: absolute;
  bottom: -10px;
  left: -5px;
  height: 10px;
  width: 100%;
  background: #b1b1b1;
  transition: .5s;
  transform: rotate(0deg) skewx(-45deg);
}
.isomatric .fontaw a:hover{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px,-20px);
  box-shadow: -40px 40px 30px rgb(0, 179, 255);
}
.isomatric .fontaw:hover .fa{
    color: #fff;
}
.isomatric .fontaw:nth-child(1) a{
    background: #3b5999;
}
.isomatric .fontaw:hover:nth-child(1) a:before
{
    background-color: #2e4a86;
}
.isomatric .fontaw:hover:nth-child(1) a:after
{
    background-color: #4164b0;
}
.isomatric .fontaw:nth-child(2) a{
    background: #e4405f;
}
.isomatric .fontaw:hover:nth-child(2) a:before
{
    background-color: #c5334e;
}
.isomatric .fontaw:hover:nth-child(2) a:after
{
    background-color: #ef5d78;
}

.isomatric .fontaw:nth-child(3) a{
    background: #55acee;
}
.isomatric .fontaw:hover:nth-child(3) a:before
{
    background-color: #2d88ce;
}
.isomatric .fontaw:hover:nth-child(3) a:after
{
    background-color: rgb(95, 124, 187);
}
.isomatric .fontaw:nth-child(4) a{
    background: #ef0c0c;
}
.isomatric .fontaw:hover:nth-child(4) a:before
{
    background-color: #ab1e1e;
}
.isomatric .fontaw:hover:nth-child(4) a:after
{
    background-color: #e93535;
}


/*-------------card-animatin--------*/
.container {
  position: relative;
  width: 260px;
  height: 360px;
  transition: 200ms;
  right: 60px;
  top: 0px;
}

.container:active {
  width: 180px;
  height: 245px;
}

#card {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 700ms;
  background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
}

.subtitle {
  transform: translateY(160px);
  color: rgb(134, 110, 221);
  text-align: center;
  width: 100%;
}

.title {
  opacity: 0;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out-out;
  transition-delay: 100ms;
  position: absolute;
  font-size: x-large;
  font-weight: bold;
  color: white;
}

.tracker:hover ~ #card .title {
  opacity: 1;
}

#prompt {
  bottom: 8px;
  left: 12px;
  z-index: 20;
  font-size: 20px;
  font-weight: bold;
  transition: 300ms ease-in-out-out;
  position: absolute;
  max-width: 110px;
  color: rgb(255, 255, 255);
}

.tracker {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
}

.tracker:hover {
  cursor: pointer;
}

.tracker:hover ~ #card #prompt {
  opacity: 0;
}

.tracker:hover ~ #card {
  transition: 300ms;
  filter: brightness(1.1);
}

.container:hover #card::before {
  transition: 200ms;
  content: '';
  opacity: 80%;
}

.canvas {
  perspective: 800px;
  inset: 0;
  z-index: 200;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5"
    "tr-6 tr-7 tr-8 tr-9 tr-10"
    "tr-11 tr-12 tr-13 tr-14 tr-15"
    "tr-16 tr-17 tr-18 tr-19 tr-20"
    "tr-21 tr-22 tr-23 tr-24 tr-25";
}

#card::before {
  content: '';
  background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
  filter: blur(2rem);
  opacity: 30%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: 200ms;
}

.tr-1 {
  grid-area: tr-1;
}

.tr-2 {
  grid-area: tr-2;
}

.tr-3 {
  grid-area: tr-3;
}

.tr-4 {
  grid-area: tr-4;
}

.tr-5 {
  grid-area: tr-5;
}

.tr-6 {
  grid-area: tr-6;
}

.tr-7 {
  grid-area: tr-7;
}

.tr-8 {
  grid-area: tr-8;
}

.tr-9 {
  grid-area: tr-9;
}

.tr-10 {
  grid-area: tr-10;
}

.tr-11 {
  grid-area: tr-11;
}

.tr-12 {
  grid-area: tr-12;
}

.tr-13 {
  grid-area: tr-13;
}

.tr-14 {
  grid-area: tr-14;
}

.tr-15 {
  grid-area: tr-15;
}

.tr-16 {
  grid-area: tr-16;
}

.tr-17 {
  grid-area: tr-17;
}

.tr-18 {
  grid-area: tr-18;
}

.tr-19 {
  grid-area: tr-19;
}

.tr-20 {
  grid-area: tr-20;
}

.tr-21 {
  grid-area: tr-21;
}

.tr-22 {
  grid-area: tr-22;
}

.tr-23 {
  grid-area: tr-23;
}

.tr-24 {
  grid-area: tr-24;
}

.tr-25 {
  grid-area: tr-25;
}

.tr-1:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-2:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-3:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-4:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-5:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
}

.tr-6:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-7:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-8:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-9:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-10:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-11:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-12:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-13:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.tr-14:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}

.tr-15:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}

.tr-16:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-17:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-18:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-19:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-20:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-21:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-22:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-23:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-24:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-25:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
}

.noselect {
  -webkit-touch-callout: none;
   /* iOS Safari */
  -webkit-user-select: none;
   /* Safari */
   /* Konqueror HTML */
  -moz-user-select: none;
   /* Old versions of Firefox */
  -ms-user-select: none;
   /* Internet Explorer/Edge */
  user-select: none;
   /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}
/*-------------card-animation-end-------*/
/*---------------------About-section--------------------*/

.about1box{
  width: 600px;
  height: 600px;
}
.about2box{
  width: 650px;
  height: 650px;
  border: 5px solid rgba(0, 0, 0, 0.242);
}
/*-------------card-animation-start-------*/

.myCard {
  background-color: transparent;
  width: 280px;
  height: 400px;
  perspective: 1000px;
  margin-left: 100px;
  margin-top: 90px;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.myCard:hover .innerCard {
  transform: rotateY(180deg);
}

.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

.frontSide,
.frontSide::before {
  background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
}

.backSide,
.backSide::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.backSide {
  transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}
/*-------------card-animation-end-------*/







/*-------------servuce section-------*/

.moon img{
  width: 500px;
  height:500px;
  position: absolute;
  border-radius: 50%;
  top: 1250px;
  left: -200px;
  filter: brightness(90%);
  transform: rotate(45deg);
  animation: role 50s linear infinite;
}
@keyframes role {
 0%{transform: rotate(0deg);}
100%{transform: rotate(360deg);}
}

.SERVICESSS{
  width:100%;
  height: 600px;
 float: right;
 padding-top: 50px; 
  
}
.SERVICESSS div{
  width: 350px;
  float: left;
  height: 250px;
  border: 2px solid rgb(15, 15, 15, 0.637);
  background-color: rgba(44, 76, 179, 0.47);
  border-radius: 30px;
  filter: opacity(90%);
  margin-left: 100px;
  margin-top: 25px;
  filter: opacity(50%);
}
.SERVICESSS div:hover{
  filter: opacity(100%);
  cursor: pointer;
  scale: 1.1;
  transition: 1s;
}
.rocket img{
  position: absolute;
  left: 900px;
  top: 1600px;
  transform: rotate(-60deg);
  filter: opacity(50%);
  animation: rocket 150s infinite;
}
@keyframes rocket {
  0%{right: 0;}
  10%{left: -500px; top: 1000px;}
  100%{left: -500px; top: 1000px; filter: opacity(100%); display: none;} 
}
/*------------project section--------------------*/


.project1spa{
  width: 1300px;
  height: 400px;
  margin-left: 70px;
  border-radius: 50px;
  background-image: url(../../../../Downloads/spacepro.jpg);
  background-position: center;
  background-size: cover;
  filter: opacity(90%);

}
.prmain{
  width: 1300px;
  height: 400px;
  margin-left: 70px;
  display: flex;
  justify-content: space-around;
  margin-top: -150px;
}
.prmain div{
  width: 310px;
  height: 400px;
  border-radius: 50px;
  border: 1px solid rgb(57, 106, 180, 0.313);
  background-color: rgb(57, 106, 180, 0.313);
  z-index: 1;
}
.prmain div:hover{
 background-color: rgba(79, 140, 232);
 border: 1px solid rgb(134, 176, 239);
 scale: 1.1;
 transition-duration: 1s;
}
/*------------contact section--------------------*/
.phone{
 width: 300px;
 height: 600px;
 background-color: rgba(255, 255, 255, 0.726);
 border-radius: 50px;
 position: relative;
 top: 50px;
 left: 100px;
 outline: 10px solid rgb(33, 32, 32);
 
}
.social img{
  width: 40px;
}
.social img:hover{
  scale: 1.2;
  transition: .5s;
}
.contctform{
  width: 750px;
  height: 550px;
  position: relative;
  top: -520px;
  left: 600px;
  background-image: url(imageport2/marspace.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 100px;
  filter: brightness(90%);
}
.su:hover{
  scale: 1.1;
}


